[submodule "Modules/gsystem"]
	path = Modules/gsystem
	url = https://github.com/DrDeLaBill/gsystem
[submodule "Modules/modbus_rtu_puk"]
	path = Modules/modbus_rtu_puk
	url = https://github.com/DrDeLaBill/modbus_rtu_puk
