[submodule "Modules/StorageAT"]
	path = Modules/StorageAT
	url = https://github.com/DrDeLaBill/StorageAT
[submodule "Modules/Utils"]
	path = Modules/Utils
	url = https://github.com/DrDeLaBill/Utils
[submodule "Modules/gsystem"]
	path = Modules/gsystem
	url = https://github.com/DrDeLaBill/gsystem
